* {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 100%;

    overflow: hidden;

    font-family: "Roboto", Helvetica, Arial, sans-serif;
    color: $textColor;

    background: $bg-color;

    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: inherit;
    text-decoration: none;
    z-index: 999;
}

img {
    max-width: 100%;
    height: auto;
}