$nexus-5-device-width: 1690px;
$nexus-5-device-height: 2857px;
$nexus-5-left-padding: 304px;
$nexus-5-right-padding: 306px;
$nexus-5-top-padding: 436px;
$nexus-5-bottom-padding: 500px;

@mixin size-nexus-5-frame-port($scale-factor) {
    width: $nexus-5-device-width * $scale-factor;
    min-width: $nexus-5-device-width * $scale-factor;
    height: $nexus-5-device-height * $scale-factor;
    min-height: $nexus-5-device-height * $scale-factor;

    padding: ($nexus-5-top-padding * $scale-factor)
    ($nexus-5-right-padding * $scale-factor)
    ($nexus-5-bottom-padding * $scale-factor)
    ($nexus-5-left-padding * $scale-factor);
}

@mixin size-nexus-5-frame-land($scale-factor) {
    width: $nexus-5-device-height * $scale-factor;
    min-width: $nexus-5-device-height * $scale-factor;
    height: $nexus-5-device-width * $scale-factor;
    min-height: $nexus-5-device-width * $scale-factor;

    padding: ($nexus-5-right-padding * $scale-factor)
    ($nexus-5-bottom-padding * $scale-factor)
    ($nexus-5-left-padding * $scale-factor)
    ($nexus-5-top-padding * $scale-factor);
}

.nexus-5-frame-port {
    display: block;

    @include size-nexus-5-frame-port(0.3);

    overflow: hidden;

    background-image: url('/images/nexus-5-frame-port.png');
    background-repeat: no-repeat;
    background-size: contain;

    box-sizing: border-box;

    * {
        width: 100%;
    }

    /**@media screen and (max-width: $nexus-5-device-width) , screen and (max-height: $nexus-5-device-height) {
        @include size-nexus-5-frame-port(0.5);
    }

    @media screen and (max-width: ($nexus-5-device-width * 0.5)) , screen and (max-height: ($nexus-5-device-height * 0.5)) {
        @include size-nexus-5-frame-port(0.25);
    }**/
}

.nexus-5-frame-land {
    display: block;

    @include size-nexus-5-frame-land(1);

    overflow: hidden;

    background-image: url('/images/nexus-5-frame-land.png');
    background-repeat: no-repeat;
    background-size: contain;

    box-sizing: border-box;

    * {
        width: 100%;
    }

    /**@media screen and (max-width: $nexus-5-device-height) , screen and (max-height: $nexus-5-device-width) {
        @include size-nexus-5-frame-land(0.5);
    }

    @media screen and (max-width: ($nexus-5-device-height * 0.5)) , screen and (max-height: ($nexus-5-device-width * 0.5)) {
        @include size-nexus-5-frame-land(0.25);
    }**/
}

