.summary {
    background-color: $blue-color;
}

.summary-list {
    list-style-type: none;

    li {
        display: flex;
        flex-direction: row;
        align-items: center;

        margin: ($slide-padding / 2);

        opacity: 0.2;

        img {
            width: 4rem;
            height: 4rem;

            padding: 1rem;
        }

        span {
            font-size: 2rem;
            margin-left: ($slide-padding / 2);
        }

        &.enable {
            opacity: 1.0;

            img {
                width: 6rem;
                height: 6rem;

                padding: 0rem;
            }
        }
    }
}

.summary-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: $blue-color;

    img {
        width: 4rem;
        height: 4rem;

        padding: 1rem;
    }

    span {
        font-size: 2rem;
        margin-left: ($slide-padding / 2);
    }
}

.overview {
  ul {
  
    font-size: 3rem;
    list-style-type: none;
  
    li {
     width: 400px;
     margin-bottom:1em;
     img {
          width: 4rem;
          height: 4rem;
          padding: 1rem;
      }
      
      .glyphicons {
        padding: 0;
      }
      
      .glyphicons:before {
        padding: 0;
        position: static;
        vertical-align: top;
      }
      
      span {
        background-color: $bg-color;
        padding-left: 15px;
        display:block;
        float: right;
        width: 321px;
      }
      
      i:before {
        font-size: 48px;
      }
    
      &.display {
        border-bottom: $display-color 5px solid;
        background-color: $display-color;
      }
      
      &.interaction {
        border-bottom: $interaction-color 5px solid;
        background-color: $interaction-color;
      }
    }
  }
}

.demo {
    background-color: $textColor;

    color: $bg-color;

    a {
        margin: ($slide-padding / 2) 0;
        font-size: 2rem;
    }
}

.fin {
    background-color: $blue-color;

    h1 {
        margin-bottom: $slide-padding;
    }

    .links {
        a {
            display: block;

            font-size: 1.5rem;
            padding-bottom: $slide-padding / 8;
            text-align:center;
        }
    }

    .content {
        flex: 0;
    }

    .speaker-pic {
        width: 40%;
        max-width: 500px;

        border-style: solid;
        border-width: 10px;
        border-color: $highlight-color;
        border-radius: 100%;
    }
}